---
const { url, title, publishDate } = Astro.props;
---

<a
  href={url}
  class="flex items-center gap-4 w-full group"
  aria-label={`Read ${title}`}>
  <p
    class="m-0 sm:truncate font-medium text-foreground group-hover:text-primary">
    {title}
  </p>
  <hr
    class="min-w-7 flex-1 m-0 border-t border-grey/30 group-hover:border-primary"
  />
  <time
    datetime={publishDate}
    class="text-sm text-grey font-light group-hover:text-primary shrink-0">
    {publishDate}
  </time>
</a>
