---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "jordancurley.com",
    year: "2025",
    description: "My portfolio, built with Astro and TailwindCSS.",
    source: "https://github.com/jlcur/jordancurley.com",
    demo: "https://jordancurley.com",
  },
  {
    title: "Epilog frontend",
    year: "2026",
    description: "The frontend for a discussion board built with React + TypeScript.",
    source: "https://github.com/jlcur/epilog-frontend",
    demo: "https://epilog.jordancurley.com",
  },
  {
    title: "Epilog backend",
    year: "2026",
    description: "The backend for a discussion board built with Node.js and better-auth.",
    source: "https://github.com/jlcur/epilog",
    demo: "https://epilog.jordancurley.com",
  },
  {
    title: "WrestlePred",
    year: "2025",
    description: "Make predictions on wrestling events, built with React + ASP.NET Core.",
    source: "https://github.com/jlcur/WrestlePred",
  },
  {
    title: "ECommerce API",
    year: "2025",
    description: "An e-commerce API built with ASP.NET Core",
    source: "https://github.com/jlcur/ECommerceAPI"
  },
  {
    title: "Nookery",
    year: "2024",
    description: "Full-stack Goodreads-like book tracking app with React and Express.",
    source: "https://github.com/jlcur/nookery",
  },
  {
    title: "COVID-19 misinformation detection extension",
    year: "2021",
    description: "Browser extension for detecting COVID-19 misinformation on Twitter.",
    source: "https://github.com/jlcur/fyp-extension",
  },
  {
    title: "COVID-19 misinformation detection API",
    year: "2021",
    description: "API for detecting misinformation related to COVID-19.",
    source: "https://github.com/jlcur/fyp-api",
  }


];
---

<section class="mt-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          year={project.year}
          description={project.description}
          source={project.source}
          demo={project.demo}
        />
      ))
    }
  </div>
</section>
