---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "jordancurley.com",
    year: "2025",
    description: "My portfolio, built with Astro and TailwindCSS.",
    source: "https://github.com/jlcur/jordancurley.com",
    demo: "https://jordancurley.com",
  },
  {
    title: "Epilog frontend",
    year: "2026",
    description: "The frontend for a discussion board built with React + TypeScript.",
    source: "https://github.com/jlcur/epilog-frontend",
    demo: "https://epilog.jordancurley.com",
  },
  {
    title: "Epilog backend",
    year: "2026",
    description: "The backend for a discussion board built with Node.js and better-auth.",
    source: "https://github.com/jlcur/epilog",
    demo: "https://epilog.jordancurley.com",
  }
];
---

<section class="mt-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          year={project.year}
          description={project.description}
          source={project.source}
          demo={project.demo}
        />
      ))
    }
  </div>
</section>
